<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>login</title>
</h:head>
<h:body style="background-image: url(/modules/resources/maxresdefault.jpg)">
	<h:form>
		<h3>JSF Login Logout</h3>
		<p:panelGrid style=" margin: 0 auto;">
		<h:outputText value="Login" />
		<p:inputText id="username" value="#{loggingMB.userName}" ></p:inputText>
		<h:message for="username"></h:message>
		
		<br></br><br></br>
		
		
		<h:outputText value="Haslo" />
		 <p:password id="feedback" value="#{loggingMB.password}" feedback="true"  promptLabel="Wprowadź hasło" 
		 weakLabel="Słabe"
                    goodLabel="dobre" strongLabel="Bardzo dobre" />
		<h:message for="feedback"></h:message>
		<br></br><br></br>
		
		<h:commandButton action="#{loggingMB.login}"
			value="Login"></h:commandButton>
			
		</p:panelGrid>
	</h:form>
</h:body>
</html>