<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">


	<h:form>
        <p:menu toggleable="true">
        <p:submenu label="Pracownicy">
            <p:menuitem value="Lista pracownikow"  icon="ui-icon-disk" outcome="/modules/uzytkownicy/pracownicy.xhtml" />
            <p:menuitem value="Dodawanie pracownika"  icon="ui-icon-disk" outcome="/modules/uzytkownicy/dodawaniePracownika.xhtml" ajax="false"/>
        </p:submenu>
        <p:submenu label="Zwierzeta">
           <p:menuitem value="Lista zwierzat"  icon="ui-icon-disk" outcome="/modules/uzytkownicy/pracownicy.xhtml" />
            <p:menuitem value="Dodawanie zwierzat"  icon="ui-icon-disk" outcome="/modules/uzytkownicy/pracownicy.xhtml" />
          <p:submenu label="Karmienie">
            <p:menuitem value="Karmienie zwierzat"  icon="ui-icon-disk" outcome="/modules/uzytkownicy/pracownicy.xhtml" />
            <p:menuitem value="Zapasy"  icon="ui-icon-disk" outcome="/modules/uzytkownicy/pracownicy.xhtml" />
        </p:submenu>   
         
        </p:submenu>
        <p:separator />
        
   </p:menu>
 	</h:form>
</ui:composition>
