<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/modules/admin/template.xhtml">
	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
	<form>
	 
	<p:panel header="Dodawanie uzytkownika"></p:panel>
	<h:panelGrid column="3" cellpadding="5">
	
	<p:outputLabel for="imie" value="Imie:" />
	<p:inputText id="imie" value="#{dodawanieUzytkownikaMB.nowyUzytkownik.imie}" required="true" />
    <p:message for="imie" />
    
    <p:outputLabel for="nazwisko" value="Nazwisko:" />
	<p:inputText id="nazwisko" value="#{dodawanieUzytkownikaMB.nowyUzytkownik.nazwisko}" required="true" />
    <p:message for="nazwisko" />
    
     <p:outputLabel for="stanowisko" value="Stanowisko:" />
	<p:inputText id="stanowisko"  value="#{dodawanieUzytkownikaMB.nowyUzytkownik.stanowisko}" required="true" />
    <p:message for="stanowisko" />
    
    <p:outputLabel for="zatrudnienie" value="Data zatrudnienia:" />
    <p:calendar id="zatrudnienie" value="#{dodawanieUzytkownikaMB.nowyUzytkownik.dataZatrudnienia}" />
	<p:message for="zatrudnienie" />
	
	 <p:outputLabel for="login" value="Login:" />
   <p:inputText id="login" value="#{dodawanieUzytkownikaMB.nowyUzytkownik.login}" />
	<p:message for="login" />
	
	  <p:commandButton value="Zapisz"  action="#{dodawanieUzytkownikaMB.zapiszUzytkownika}" styleClass="ui-priority-primary" ajax="false" />
	
	</h:panelGrid>
		

</form>
	</ui:define>
</ui:composition>
