<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/modules/admin/template.xhtml">
	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
	<p:panel header="Lista uzytwkoników">
		<p:dataTable var="usr" value="#{uzytkownicyMB.uzytkownicy}">
   
    <p:column headerText="Imie">
        <h:outputText value="#{usr.imie}" />
    </p:column>
 
    <p:column headerText="Nazwisko">
        <h:outputText value="#{usr.nazwisko}" />
    </p:column>
 
    <p:column headerText="Stanowisko">
        <h:outputText value="#{usr.stanowisko}" />
    </p:column>
</p:dataTable> 
</p:panel>
	</ui:define>
</ui:composition>
