<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Not present in rendered output</title>
</head>
<body>
<ui:composition template="/modules/admin/template.xhtml">
  <p:dataTable var="usr" value="#{uzytkownicyMB.uzytkownicy}">
   
    <p:column headerText="Imie">
        <h:outputText value="#{usr.imie}" />
    </p:column>
 
    <p:column headerText="Nazwisko">
        <h:outputText value="#{usr.nazwisko}" />
    </p:column>
 
    <p:column headerText="Stanowisko">
        <h:outputText value="#{usr.stanowisko}" />
    </p:column>
</p:dataTable>
    </ui:composition>   
</body>
</html>